/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    height: 100vh;
    background-image: linear-gradient(rgb(212, 237, 243), rgb(156, 218, 245));
    color: black;
    display: grid;
    place-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

    
}

.las {
    font-size: 50px;
}

